@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;800;900&family=Rock+Salt&display=swap");

* {
  font-family: "Libre Franklin", "Franklin Gothic Medium", Arial, sans-serif;
}

/* ----------Landing page--------- */

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.right {
  padding-left: 40px;
  padding-top: 40px;
}

.wallpaper {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landinglogo {
  position: absolute;
  display: block;
  left: 12vw;
  top: 25vh;
  width: 25vw;
  z-index: 1;
}

.logoblue {
  width: 40px;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.signuplink {
  background-color: #1da1f2;
  width: 50%;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signuplink p {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.signuplink:hover {
  background-color: #0d8bd9;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.smallprint {
  font-size: 0.7rem;
  width: 50%;
  color: rgb(83, 100, 113);
}

.already {
  font-weight: 700;
  margin-top: 40px;
}

.signinlink {
  width: 50%;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.signinlink p {
  color: #1da1f2;
  text-decoration: none;
  font-weight: 600;
}

.signinlink:hover {
  background-color: #e6f5ff;
  cursor: pointer;
}

.signinform {
  display: flex;
  flex-direction: column;
}

.modallower {
  margin: 0 5%;
}

.signinform input {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  font-size: 1rem;
  padding: 0 10px;
}

.signinbtn {
  width: 100% !important;
  margin: 0 500px;
  font-size: 0.9rem !important;
}

.landinggrey {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(211, 211, 211, 0.5);
  z-index: 5;
}

.landinggreynone {
  display: none;
}

/* ----------Home page menu--------- */

.home {
  width: 100vw;
}

.homeleft {
  width: 20%;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #e6e6e6;
  z-index: 4;
  background-color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 80px;
  /* width: 50%; */
  height: 80vh;
  padding: 20px 0 30px 0;
  box-sizing: border-box;
  margin-right: 0;
  margin-left: auto;
}

.menuimg1 {
  width: 100%;
}

.menuimg2 {
  display: none;
  width: 100%;
}

.menulink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin-left: auto;
  margin-right: auto;
}

.menulink:hover .menuimg1 {
  display: none;
}
.menulink:hover .menuimg2 {
  display: block;
  cursor: pointer;
}

.homelogo {
  width: 80%;
}
.dots {
  width: 100%;
}

#composelink {
  width: 65px;
  height: 65px;
}
#compose,
#compose2 {
  width: 100%;
}
#accountslink {
  width: 40px;
  height: 40px;
  margin-top: 10vh;
}
#accountslink img:hover {
  cursor: pointer;
}

.accounts {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.logoutmodal {
  width: 260px;
  height: 140px;
  background-color: white;
  position: fixed;
  margin-top: -200px;
  margin-left: 180px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logouttop {
  display: flex;
  height: 39px;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
  font-size: 0.8rem;
  align-items: center;
}

.logouttop div p {
  margin: 0;
}

.logoutbottom {
  padding: 15px;
  font-size: 0.9rem;
  height: 40px;
  display: flex;
  align-items: center;
}

.logoutbottom:hover {
  background-color: #f8f8f8;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
}

.logoutimg {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* ----------Home page feed--------- */

.homeright {
  position: absolute;
  right: 0;
  width: 80vw;
  padding-top: 0;
}

.homebanner {
  width: 100%;
  height: 9vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homebanner p {
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.feed {
  margin-top: 9vh;
  width: 80vw;
  max-width: 600px;
  border-right: 1px solid #e6e6e6;
  padding-left: 10px;
  box-sizing: border-box;
}

.composeleft {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.composeright {
  padding: 10px;
}

.composetweet {
  display: grid;
  grid-template-columns: 1fr 8fr;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 10px;
}

.profpic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.tweetinput {
  min-height: 40px;
  height: auto;
  border: 0;
  margin-top: 15px;
  font-size: 1.2rem;
}
.imguploadcontainer {
  position: relative;
  width: 70%;
  height: 200px;
}
.imgupload {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 15px;
  position: absolute;
}
.closeimgupload {
  width: 30px;
  height: 30px;
  background-color: rgb(73, 73, 73);
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  left: 5px;
}

.closeimgupload:hover {
  cursor: pointer;
  background-color: rgb(110, 108, 108);
}

.whitecross {
  width: 50%;
}

[contenteditable] {
  outline: 0px solid transparent;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
  outline: 0px solid transparent;
}

.composebottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.composebottomright {
  display: flex;
  align-items: center;
}

.imageiconwrapper {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageiconwrapper:hover {
  background-color: #1da0f236;
  cursor: pointer;
}
.imageicon {
  width: 60%;
}

.tweetbutton {
  height: 35px;
  background-color: #1da1f2;
  border-radius: 25px;
  border: none;
  color: white;
  width: 80px;
  font-weight: 600;
  margin: 8px;
}

.tweetbutton:hover {
  cursor: pointer;
  background-color: #0d8bd9;
}

.toolongbutton {
  height: 35px;
  background-color: #1da1f2;
  border-radius: 25px;
  border: none;
  color: white;
  width: 80px;
  font-weight: 600;
  margin: 8px;
  opacity: 0.5;
}

.lengthwrapper {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lengthwrapper p {
  font-size: 0.6rem;
  color: grey;
}

/* ----------Each Tweet--------- */

.tweetouter {
  display: grid;
  grid-template-columns: 1fr 8fr;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 10px;
}

.tweetoutermost:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.links {
  color: black;
}

.nostyle {
  all: unset;
}

.links:hover {
  text-decoration: underline;
}

.tweetimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.tweetname {
  font-weight: 600;
  display: inline;
}

.tweetdeets {
  color: grey;
  display: inline;
}

.tweetleft {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tweetright {
  padding: 10px;
}

.singletweetright {
  padding: 10px;
  max-width: 50vw;
}

.composetweetright {
  padding: 10px;
  max-width: 400px;
}

.tweettext {
  margin: 5px 0;
}

.tweetphoto {
  width: 90%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin: 5px 0;
}

.likebtncontainer {
  display: flex;
  align-items: center;
}

.btncountwrapper {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.btncountwrapper p {
  font-size: 0.8rem;
  opacity: 0.6;
  margin: 0;
}

.btnbackground {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liked {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 68, 113);
}

.replybackground:hover {
  cursor: pointer;
  background-color: #1da0f236;
}
.retweetbackground:hover {
  cursor: pointer;
  background-color: rgba(44, 212, 148, 0.219);
}
.likebackground:hover {
  cursor: pointer;
  background-color: rgba(247, 68, 113, 0.199);
}

.likebtns {
  width: 15px;
  height: 15px;
  object-fit: contain;
  opacity: 0.6;
}

.likebtnscolour {
  width: 15px;
  height: 15px;
  object-fit: contain;
  opacity: 1;
}

.replymodal {
  width: 80vw;
  max-width: 500px;
  height: fit-content;
  max-height: 50vh;
  position: fixed;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  margin-left: -300px;
  margin-top: -150px;
  z-index: 10;
  border-radius: 20px;
  border: 1px solid #e6e6e6;
  background-color: white;
  padding: 20px;
  overflow-y: scroll;
}

.nomodal {
  display: none;
}

.grey {
  position: absolute;
  width: 100%;
  height: 1000%;
  top: 0;
  left: 0;
  background-color: rgb(211, 211, 211, 0.5);
  z-index: 5;
}

.greynone {
  display: none;
}

.line {
  width: 2px;
  height: 50%;
  background-color: lightgrey;
}

.modaltweetouter {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
.modalreplyouter {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.replyingto {
  font-size: 0.9rem;
  color: grey;
}

.replyinput {
  width: 80%;
  max-width: 80%;
  min-height: 40px;
  height: auto;
  border: 0;
  margin-top: 12px;
  font-size: 1.2rem;
}

.closewrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.closewrapper:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.closereply {
  width: 60%;
}

.replybottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.retweetedwrapper {
  display: flex;
  align-items: center;
  margin-left: 66px;
  padding-top: 12px;
}

.retweetedimg {
  width: 15px;
  height: 12px;
  opacity: 0.6;
  margin-right: 10px;
}

.retweetedp {
  opacity: 0.6;
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
}

/* ----------Explore page--------- */

.followwrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 60%;
  padding: 8px 0;
  margin-left: 15px;
  border-bottom: 1px solid #e6e6e6;
  gap: 10px;
}

.followleft {
  display: flex;
  align-items: center;
}

.followimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.followmiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.followmiddle p {
  margin: 0;
}

.followhandle {
  color: grey;
}

.followname {
  font-weight: 600;
}

.followbtn {
  height: 30px;
  background-color: #1da1f2;
  border-radius: 25px;
  border: none;
  color: white;
  width: 80px;
  font-weight: 600;
  margin: 8px;
}

.followbtn:hover {
  cursor: pointer;
  background-color: #0d8bd9;
}

.followh3 {
  margin-left: 15px;
}
.followright {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------Profile----------------- */

.profileheader {
  background-color: lightgrey;
  width: 100%;
  height: 200px;
}

.headerimg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profilepicture {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
}

.profilepiccy {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  margin-top: -74px;
  margin-left: 20px;
}

.profilename {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  color: black;
}

.profilehandle {
  font-size: 0.9rem;
  margin: 0;
}

.profiledeets {
  padding-left: 20px;
  font-size: 0.95rem;
  color: rgb(100, 100, 100);
  border-bottom: 1px solid #e6e6e6;
}

.profileflex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}

.followersfollowing {
  display: flex;
}

.followersfollowing p {
  margin-right: 20px;
  margin-top: 0;
  font-size: 0.95rem;
}
.followersfollowing p b {
  color: black;
}

.editbutton {
  height: 35px;
  border-radius: 25px;
  border: 1px solid #e6e6e6;
  background-color: white;
  color: black;
  width: 120px;
  font-weight: 600;
  margin: 8px;
  font-size: 0.9rem;
  float: right;
  margin: 15px;
}

.editbutton:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.editingtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editingtopleft {
  display: flex;
  align-items: center;
}

.editingtopleft p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0 10px;
}

.savebutton {
  height: 35px;
  border-radius: 25px;
  border: 1px solid #e6e6e6;
  background-color: white;
  color: black;
  width: 80px;
  font-weight: 600;
  margin: 8px;
  font-size: 0.9rem;
  float: right;
  margin: 15px;
}

.savebutton:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.profileinputwrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profileinputlabel {
  font-size: 0.8rem;
  color: rgb(100, 100, 100);
  margin: 5px 5px 0 10px;
}

.profileinput {
  border: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
}

.profileinput::placeholder {
  color: black;
  font-weight: 500;
}

.headerimgwrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.addphotowrapper {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.7;
  z-index: 10;
}

.addphotowrapper:hover {
  opacity: 0.5;
  cursor: pointer;
}

.addphoto {
  width: 20px;
}

.profilepicturewrapper {
  width: 140px;
  position: relative;
  margin-left: 20px;
  margin-top: -74px;
}

.unfollowbutton {
  height: 35px;
  border-radius: 25px;
  border: 1px solid #e6e6e6;
  background-color: white;
  color: black;
  width: 120px;
  font-weight: 600;
  margin: 8px;
  /* font-size: 0.9rem; */
  font-size: 0px;
  float: right;
  margin: 15px;
  content: "Following";
}

.unfollowbutton::after {
  font-size: 0.9rem;
  content: "Following";
}

.unfollowbutton:hover::after {
  content: "Unfollow";
  color: red;
}

.unfollowbutton:hover {
  background-color: rgba(255, 0, 0, 0.1);
  cursor: pointer;
}

.followbutton {
  height: 35px;
  border-radius: 25px;
  border: 1px solid #e6e6e6;
  background-color: #1da1f2;
  color: white;
  width: 120px;
  font-weight: 600;
  margin: 8px;
  font-size: 0.9rem;
  float: right;
  margin: 15px;
}

.followbutton:hover {
  cursor: pointer;
  background-color: #0d8bd9;
}

/* -----------------Tweetpage----------------- */

.tweetbanner {
  display: flex;
  width: 100%;
  height: 9vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  align-items: center;
}

.tweetbanner p {
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.backarrow {
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 50%;
}

.backarrow:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.tweethandle {
  color: rgb(100, 100, 100);
  margin: 0;
}

.tweettweet {
  font-size: 1.5rem;
  font-weight: 400;
}

.tweetdate {
  color: rgb(100, 100, 100);
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0.9rem;
  font-weight: 500;
}

.singletweetouter {
  border-bottom: 1px solid #e6e6e6;
  padding: 0 20px;
}

.tweettop {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.singletweetleft {
  padding: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnlarger {
  width: 20px;
  height: 20px;
}

.retweetslikes {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}

.retweetslikesp {
  color: rgb(100, 100, 100);
  margin: 0;
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 15px;
}

.num {
  margin: 0;
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding-right: 2px;
}

.retweetslikes div {
  display: flex;
}

.retweetslikes div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.marg {
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.profilewebsite {
  color: #1da1f2;
}

.profilewebsite:hover {
  text-decoration: underline;
}

.whotofollow {
  margin-left: 12px;
  margin-top: 20px;
}

.whotofollow p {
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 500;
}

.whobtn {
  height: 35px;
  background-color: #1da1f2;
  border-radius: 25px;
  border: none;
  color: white;
  width: 80px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .profileflex {
    flex-direction: column;
    align-items: flex-start;
  }
  .replymodal {
    margin-left: -210px;
  }
  .composetweetright {
    max-width: 200px;
  }
}

@media (max-width: 700px) {
  .left {
    display: none;
  }
  .landing {
    display: block;
    max-width: 100vw;
  }
  .right {
    max-width: 100vw;
    box-sizing: border-box;
    padding: 5vw 5vh;
  }
}

@media (max-width: 450px) {
  .menu {
    flex-direction: row;
    width: 100%;
    padding: 0;
    height: 10vh;
    margin: auto 0;
    align-items: center;
  }
  .homeleft {
    width: 100%;
    height: 10vh;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  #accountslink {
    margin: 0 auto;
  }
  .homeright {
    width: 100%;
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 9vh;
    padding-top: 0;
    overflow-y: auto;
  }
  .feed {
    width: 100%;
    padding: 0;
    margin-top: 7vh;
    width: 100%;
    max-height: 91vh;
    padding-bottom: 9vh;
    margin-bottom: 9vh;
  }
  .homebanner {
    padding: 0;
    height: 7vh;
  }
  .tweetbanner {
    height: 7vh;
  }
  .replymodal {
    margin-left: -185px;
    margin-top: -260px;
  }
  .followwrapper {
    width: 90%;
  }
  .logoutmodal {
    right: 10px;
  }
  .singletweetright {
    max-width: 70vw;
  }
  #compose {
    max-height: 9vh;
    max-width: 9vh;
  }
}
